@import "../style/global";

.navigation {
  display: flex;
  &-item {
    text-decoration: none;
    color: $grey-text;
    margin-right: 25px;
    @include mobile {
      display: none;
    }
    @include tablet {
      display: flex;
    }
  }
}
