@import "./style/global";

.App {
  text-align: center;
  // padding: 41px 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // padding-bottom: 41px;
  padding: 0px 50px;
  &_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &_right {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
  }
  &_logo {
    margin-right: 50px;
  }
  &_desktop {
    padding: 41px 20px;
    display: flex;
  }
  &_menu_icon {
    @include tablet {
      display: none;
    }
  }
}

.navigation {
  display: flex;
}

.profilePic {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
